--extra-index-url https://download.pytorch.org/whl/cu118
torch==2.1.0+cu118
torchvision==0.16.0+cu118
numpy
rasterio
geopandas
shapely
pillow
matplotlib
scikit-learn
opencv-python-headless
tqdm
optuna
seaborn
